* {
    margin: 0;
    padding 0;
}
.main {
    background-color: rgb(226, 226, 226);
    margin: 30px 15px 30px 15px;
    width: 99%;
    height: 100%;
    border-radius: 10px;
}
#heading {
    text-align: center;
    font-size: 36px;
    padding-top: 50px;
}
#tribute {
    text-align: center;
    font-size: 24px;
}
.div-img {
    background-color: white;
    margin: 30px 15px;
    text-align: center;
}
#div-img-img {
    padding: 15px 15px;
    width: 80%;
    height: 700px; 
}
.timeline {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
.timeline-h2 {
    text-align: center;
    margin-bottom: 15px;
}
.quote {
    background-color: white;
    margin: 30px 15px;
    width: 75%;
    border-radius: 2%;
    margin: auto;
    font-weight: bold;
    padding: 30px;
}
li {
    margin: 16px 0;
}
.learn-more {
    text-align: center;
}
.learn-more a {
    color: blue;
    text-decoration: none;
}
.learn-more a:hover {
    cursor: crosshair;
    color: purple;
}